body {
    color: white;
    background: grey;
}

nav {
    padding: 5px 0;
    height: 100px;
}

nav #container1 {
    position: relative;
    top: 15px;
    /* margin: 0 250px 0px 250px; */
    padding: 0 15px;
    height: 100%;
}

#container1 span {
    position: relative;
    left: 10%;
    float: left;
    width: 10%;
}

#container1 #list {
    float: right;
    width: 90%;
    height: 100px;
}

#list ul {
    position: relative;
    right: 10%;
    float: right;
}

#list ul li {
    list-style-type: none;
    display: inline-block;
}

#list ul li a {
    color: white;
    font-size: 14px;
    margin: 16px 20px;
    padding: 8px 0px;
    display: inline-block;
    text-decoration: none;
}

#list ul .dropdown-item {
    color: black;
    background: none;
    font-size: 14px;
    margin: 0;
    padding: 10px;
}

#list ul #dropdown-home.show {
    width: 800px;
}

#list ul #dropdown-pages.show {
    width: 800px;
}

#list ul #dropdown-blog.show {
    width: 230px;
}

#list ul .dropdown-item.active {
    color: #24CDD5;
}


#list ul .dropdown-menu a:hover{
    color: #24CDD5;
}
